html {
    height: 100%
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    /* tried to get a gray for the background with ever so slight a green tint */
    --color-gray: #e4ecea;

    /* taken from tailwind emerald color pallette */
    --color-50: #ecfdf5;
    --color-100: #d1fae5;
    --color-200: #a7f3d0;
    --color-300: #6ee7b7;
    --color-400: #34d399;
    --color-500: #10b981;
    --color-600: #059669;
    --color-700: #047857;
    --color-800: #065f46;
    --color-900: #064e3b;
    --color-950: #022c22;

    --content-shadow: 0 4px 8px 0 rgba(114, 118, 117, 0.2), 0 6px 18px 0 rgba(114, 118, 117, .19);
    --bottom-margin: 12px;
    
    height: 100%;
    font-family: sans-serif;
}

.edge {
    background-color: black;
}

#left-edge {
    grid-column: 1 / 2;
}

#right-edge {
    grid-column: 3 / 4;
}

.app-container {
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-column: 2 / 3;
    height: 100%;
}
.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

/* HEADER */

#header {
    grid-area: 1 / 2 / 2 / 3;
    grid-template: 1fr 1fr / 2fr 1fr;
    /* for box shadow to show */
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(114, 118, 117, 0.2), 0 3px 9px 0 rgba(114, 118, 117, 0.19);
}

#search {
    grid-area: 1 / 1 / 2 / 2;
}

#search {
    gap: 16px;
    align-items: center;
    margin-left: 32px;
}

#search img {
    height: 20px;
    width: 20px;
}

#user-info {
    gap: 16px;
    align-items: center;
    justify-content: right;
    margin-right: 32px;
}

#searchbar {
    height: 32px;
    width: 500px;
    padding: 1px 15px;
    border-radius: 15px;
    background-color: var(--color-gray);
    border: none;
}

#user-info {
    grid-area: 1 / 2 / 2 / 3;
}

#user-info .profile-pic-me {
    object-fit: cover;
    object-position: 100% 100%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#greeting-container {
    grid-area: 2 / 1 / 3 / 2;
    gap: 16px;
    grid-template: 1fr / 1fr 6fr;
    align-items: center;
    margin-left: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

#greeting-container .profile-pic-container {
    grid-column: 1 / 2;
    justify-self: center;
}

.profile-pic-me {
    object-fit: cover;
    object-position: 100% 100%;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    justify-self: right;
}

#greeting-container #greeting {
    grid-column: 2 / 3;
    justify-self: left;
}
#hi-there {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: bold;
}

#nav {
    grid-area: 2 / 2 / 3 / 3;
    justify-content: right;
    align-items: center;
    gap: 16px;
    margin-right: 32px;
    margin-bottom: 8px;
    font-size: 16px;
}

.nav-item {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--color-800);
    color: white;
}

#bell {
    height: 20px;
    width: 20px;
}

/* SIDEBAR */

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: 100px 300px 150px;
    background-color: var(--color-600);
    color: white;
}

#sidebar-title {
    grid-row: 1 / 2;
}

#sidebar-top-items {
    grid-row: 2 / 3;
}
#sidebar-top-items img {
    height: 20px;
    width: 20px;
}

#sidebar-bottom-items {
    grid-row: 3 / 4;
}

#sidebar-bottom-items img {
    height: 20px;
    width: 20px;
}

#sidebar .flex-container {
    gap: 20px;
    margin: 20px;
    align-items: center;
    font-size: 18px;
}

#sidebar-title .sidebar-item {
    font-size: 24px;
}

#sidebar-title img {
    height: 30px;
    width: 30px;
}

#sidebar-title.sidebar-item-container.flex-container {
    gap: 10px;
    font-weight: normal;
}

#sidebar img {
    /* make sidebar images white using filter */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(105%) contrast(102%);
}

/* CONTENT */

#content {
    grid-area: 2 / 2 / 3 / 3;
    grid-template: 50px 1fr / 3fr 1fr;
    gap: 16px;
    background-color: var(--color-gray);
}

.content-title {
    padding-top: 32px;
}

#projects-title {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 16px;
}

#projects {
    grid-area: 2 / 1 / -1 / 2;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-left: 16px;
}

.card {
    grid-template-rows: 4fr 1fr;
    background-color: white;
    border-radius: 15px;
    border-left: 6px solid goldenrod;
    padding: 28px 22px;
    padding-bottom: 16px;
    box-shadow: var(--content-shadow);
    margin-bottom:var(--bottom-margin);
}

.project {
    grid-row: 1 / 2;
}

.medium-gray {
    font-size:14px;
    color: gray;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px
}

.card .flex-container {
    justify-content: right;
    gap: 24px;
    margin-top: 12px;
    align-items: center;
    grid-row: 2 / 3;
}

.card img {
    height: 20px;
    width: 20px;
}

#announcements-trends-grid {
    grid-area: 1 / 2 / -1 / -1;
    grid-template-rows: 50px 1fr 50px 1fr;
    gap: 16px;
}

#announcements-title {
    grid-row: 1 / 2;
}

#announcements {
    grid-row: 2 / 3;
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--content-shadow);
    margin-right: 28px;
    padding: 24px;
}

.announcement-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 4px;
}

.small-gray {
    font-size:12px;
    color: gray;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
}

.announcement {
    padding: 8px;
}

.announcement + .announcement {
    border-top: 1px solid gray;
}

#trending-title {
    grid-row: 3 / 4;
}

#trending {
    grid-row: 4 / 5;
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--content-shadow);
    margin-right: 28px;
    padding: 24px;
    margin-bottom: var(--bottom-margin);
    justify-content: left;
}

.trend-container {
    display: flex;
    gap: 12px;
    align-items: center;
}

.profile-container {
    grid-column: 2 / 3;
    font-size: 12px;
    color: gray;
}

img.profile-pic {
    height: 50px;
    width: 50px;
}

.user-name {
    color: black;
}

#attribution {
    grid-column: 1 / -1;
    text-align: center;
    padding: 4px;
    background-color: white;
}

